.header {
    background: url(@/assets/images/Header-bg.png) no-repeat center /cover;
    height: 1024px;

    & .container {
        height: 80%;
    }
}

.blocks {
    height: 100%;
}

.block {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
}

.name {
    font-size: 140px;
    color: #fff;
    line-height: 140px;
    font-family: 'ahtiti';
}

.block__title {
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.about__me {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #f6f6f6;
    font-family: "ahtiti";
}

.block__title-btn {
    display: flex;
    align-items: center;
    gap: 100px;
}

.blocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.link{
    cursor: pointer;
}