@font-face {
    font-family: "madimi";
    src: url(../fonts/MadimiOne/MadimiOne-Regular.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "ahtiti";
    src: url(../fonts/Ahtiti/Athiti-Medium.ttf);
    font-weight: 600;
}